* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./fon.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  color: #333;
  padding: 50px;
}

.modal-test {
  padding: 55px 60px;
  background-color: #fff;
  position: relative;
  width: 100%;
  max-width: 580px;
  border-radius: 3px;
}

.modal__close {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 20px;
  right: 20px;
  background-image: url('./close.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.modal-economy__btn {
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #F2722C;
  border-radius: 3px;
  text-decoration: none;
  padding: 16px 26px;
}

.modal-economy__btn--outline {
  background-color: transparent;
  padding: 15px 26px;
  border: 1px solid #F2722C;
  color: #F2722C;
}

/* От сих */

.modal-economy__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 24px;
}

.modal-economy__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.modal-economy__logo {
  width: 172px;
  height: 64px;
  margin-right: 24px;
}

.modal-economy__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #555;
}

.modal-economy__desc span {
  font-weight: 700;
  color: #F2722C;
}

.modal-economy__desc:not(:last-child) {
  margin-bottom: 8px;
}

.modal-economy__subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.modal-economy__table {
  border-collapse: collapse;
  margin-bottom: 24px;
}

.modal-economy__table tr td {
  border: 1px solid #ECECEC;
  padding: 21px 23px;
  width: 50%;
  font-size: 13px;
  line-height: 22px;
}

.modal-economy__table tr td:first-child {
  border-left: none;
}

.modal-economy__table tr td:last-child {
  font-weight: 700;
  border-right: none;
}

.modal-economy__table tr td a {
  color: #F2722C;
  text-decoration: none;
}

.modal-economy__footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

/* До сих */